<div class="clearfix">
<a href="/"><img class="float-left logo" alt="DNS flag day logo" src="/images/DNS_Flag.svg"></a>
<a class="translation" href="index-cs.html"><img alt="Česky" src="/flags/cs.svg"/></a>
<a class="translation" href="index-de.html"><img alt="Deutsch" src="/flags/de.svg"/></a>
<a class="translation" href="index.html"><img alt="English" src="/flags/en.svg"/></a>
<a class="translation" href="index-es.html"><img alt="Español" src="/flags/es.svg"/></a>
<a class="translation" href="index-pt-br.html"><img alt="Português Brasileiro" src="/flags/pt-br.svg"/></a>
<a class="translation" href="index-ru.html"><img alt="Русский" src="/flags/ru.svg"/></a>
<a class="translation" href="index-zh-CN.html"><img alt="中文（中国）" src="/flags/zh-CN.svg"/></a>
</div>
