<div id="domain-checker">
	<form action="https://ednscomp.isc.org/ednscomp" method="GET" target="_blank">
		<fieldset>
			<legend>{{ include.lang.form.legend }}</legend>
			<label for="zone">{{ include.lang.form.label }}
				<input type="text" name="zone" id="zone" required title="{{ include.lang.form.title }}">
			</label>
			<input type="submit" value="{{ include.lang.form.value }}">
			<noscript>{{ include.lang.form.noscript }}</noscript>
		</fieldset>
	</form>
</div>
<script>
$(document).ready(function () {
	domainChecker({
		placeIntoElement: document.getElementById( "domain-checker" ),
		texts: {
			formTitle: '{{ include.lang.form.legend }}',
			labelText: '{{ include.lang.form.label }} ',
			submitText: '{{ include.lang.form.value }}',
			reportOkHtml: ': <span style="color: green;">{{ include.lang.reportOk.short }}</span></div>' +
			'<div><img style="height: 5em;" src="signs/ok.svg"/></div>' +
			'<div>{{ include.lang.reportOk.long | strip }}',
			reportCompatibleHtml: ': <span style="color: orange;">{{ include.lang.reportCompatible.short }}</span></div>' +
			'<div><img style="height: 5em;" src="signs/compatible.svg"/></div>' +
			'<div>{{ include.lang.reportCompatible.long | strip }}',
			reportHighLatencyHtml: ': <span style="color: red;">{{ include.lang.reportHighLatency.short }}</span></div>' +
			'<div><img style="height: 5em;" src="signs/high_latency.svg"/></div>' +
			'<div>{{ include.lang.reportHighLatency.long | strip }}',
			reportFailHtml: ': <span style="font-weight: bold; color: red;">{{ include.lang.reportFail.short }}</span></div>' +
			'<div><img style="height: 5em;" src="signs/dead.svg"/></div>' +
			'<div>{{ include.lang.reportFail.long | strip }}',
			reportTestErrorHtml: ': {{ include.lang.reportTestError | strip }}',
			reportLinkText: ' {{ include.lang.reportLinkText | strip }} ',  // text before URL to report
		},
		status: {
			loading: '{{ include.lang.status.loading }}',
			done: '{{ include.lang.status.done }}',
			errorApi: '{{ include.lang.status.errorApi }}',
			errorInput: '{{ include.lang.status.errorInput }}',
		},
	});
});
</script>
<br>
