---
---

@import "{{ site.theme }}";

.translations {
	margin-left: auto;
	margin-right: auto;
}
.translations img {
	height: 2em;
        display: inline-block;
}

/* logos */
p img {
	width: 250px;
	padding: 25px !important;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#main_content_wrap {
	background: #ffffff;
}
