---
---

@import "{{ site.theme }}";

.translation img {
	height: 2em;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.social img {
	height: 2.5em;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0;
}
.home img {
	margin: 0;
	height: 40px;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

/* logos */
.logo {
	width: 250px;
	padding: 25px !important;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#main_content_wrap {
	background: #ffffff;
}
