---
---

@import "{{ site.theme }}";

.translations {
	margin-left: auto;
	margin-right: auto;
}
.translations img {
	height: 2em;
        display: inline-block;
}

/* logos */
p img {
	max-width:200px;
	margin:5px 0 !important;
}
