<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" href="/{{ 'css/bootstrap.min.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" type="text/css" media="screen" href="/{{ 'assets/css/style.css?v=' | append: site.github.build_revision }}">
    <script src="/js/jquery-3.4.1.min.js"></script>

{% seo %}

  </head>

  <body>

    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}

    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/domain-checker.js"></script>
    <script src="/js/tcp-checker.js"></script>
    <script src="/js/supporters-randomiser.js"></script>
  </body>
</html>
